# Load packages

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.0       ✔ purrr   0.3.0
✔ tibble  2.0.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.2       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
library(nycflights13)

In [12]:
#airlines, airports, planes, weather

In [8]:
dim(voos)
dim(gapminder)

[1] 336776     19

[1] 1704    6

# Dplyr

Funções apresentadas:

1. `filter()`
2. `arrange()`
3. `select()`
4. `mutate()`
5. `summarise()` & `group_by()`

## Filtre linhas com `filter()`

In [8]:
library(nycflights13)
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [12]:
library(nycflights13)

In [15]:
dim(flights)

[1] 336776     19

In [13]:
dfua = filter(flights, carrier == 'UA' )

In [14]:
dim(dfua)

[1] 58665    19

In [17]:
df_arr_delay = filter(flights, arr_delay > 0)
dim(df_arr_delay)

[1] 133004     19

Encontre o número de voos que:

1. Tiveram um atraso de chegada de duas ou mais horas

In [21]:
flights %>% filter(arr_delay >= 120) %>% dim()

[1] 10200    19

2. Voaram para Houston (IAH ou HOU)

In [25]:
flights %>% filter(dest == 'IAH' | dest == 'HOU')  %>%  dim()

[1] 9313   19

3. Foram operados pela United, American ou Delta

In [31]:
flights %>% filter(carrier == 'AA' | 
                   carrier == 'UA' | 
                   carrier == 'DL')  %>% dim()

[1] 139504     19

4. Partiram no verão (julho, agosto e setembro)

5. Chegou mais de duas horas atrasados, mas não sairam tarde

6. Partiram entre a meia-noite e as 6h (inclusive)

In [34]:
flights  %>%  filter(dep_time > 0 & dep_time < 600)  %>%  dim()

[1] 8730   19

## Ordene as linhas com  `arrange()`

In [37]:
#flights  %>% arrange(dep_time)

1. Como você poderia usar o `arrange()` para colocar todos os valores faltandes de `dep_delay` no início? (Dica: use is.na ()).

In [44]:
flights %>% arrange(desc(is.na(dep_delay)))

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   NA       1630           NA        NA       1815
2      2013 1     1   NA       1935           NA        NA       2240
3      2013 1     1   NA       1500           NA        NA       1825
4      2013 1     1   NA        600           NA        NA        901
5      2013 1     2   NA       1540           NA        NA       1747
6      2013 1     2   NA       1620           NA        NA       1746
7      2013 1     2   NA       1355           NA        NA       1459
8      2013 1     2   NA       1420           NA        NA       1644
9      2013 1     2   NA       1321           NA        NA       1536
10     2013 1     2   NA       1545           NA        NA       1910
11     2013 1     2   NA       1330           NA        NA       1640
12     2013 1     2   NA       1601           NA        NA       1735
13     2013 1     3   NA        645           NA        NA        757
14     2013 1     3   NA       1030           NA        NA       1210
15     2013 1     3   NA       1125           NA        NA       1305
16     2013 1     3   NA        835           NA        NA       1150
17     2013 1     3   NA        920           NA        NA       1245
18     2013 1     3   NA       1020           NA        NA       1330
19     2013 1     3   NA       1220           NA        NA       1415
20     2013 1     3   NA        630           NA        NA        830
21     2013 1     3   NA        857           NA        NA       1209
22     2013 1     3   NA        645           NA        NA        952
23     2013 1     4   NA        845           NA        NA       1015
24     2013 1     4   NA       1830           NA        NA       2044
25     2013 1     4   NA        920           NA        NA       1245
26     2013 1     4   NA       1245           NA        NA       1550
27     2013 1     4   NA       1430           NA        NA       1735
28     2013 1     4   NA       1530           NA        NA       1725
29     2013 1     5   NA       1400           NA        NA       1518
30     2013 1     5   NA        840           NA        NA       1001
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 9     30  2115     2110             5       2246     2255
336748 2013 9     30  2116     2124            -8       2317     2337
336749 2013 9     30  2119     2005            74       2310     2212
336750 2013 9     30  2119     2120            -1       2330     2354
336751 2013 9     30  2121     2100            21       2349       14
336752 2013 9     30  2122     2127            -5       2226     2237
336753 2013 9     30  2123     2125            -2       2223     2247
336754 2013 9     30  2127     2129            -2       2314     2323
336755 2013 9     30  2128     2130            -2       2328     2359
336756 2013 9     30  2129     2059            30       2230     2232
336757 2013 9     30  2131     2140            -9       2225     2255
336758 2013 9     30  2140     2140             0         10       40
336759 2013 9     30  2142     2129            13       2250     2239
336760 2013 9     30  2145     2145             0        115      140
336761 2013 9     30  2147     2137            10         30       27
336762 2013 9     30  2149     2156            -7       2245     2308
336763 2013 9     30  2150     2159            -9       2250     2306
336764 2013 9     30  2159     1845           194       2344     2030
336765 2013 9     30  2203     2205            -2       2339     2331
336766 2013 9     30  2207     2140            27       2257     2250
336767 2013 9     30  2211     2059            72       2339     2242
336768 2013 9     30  2231     2245           -14       2335     2356
336769 2013 9     30  2233     2113            80        112       30
336770 2013 9     30  2235     2001           154         59     2249
336771 2013 9     30  2237     2245            -8       2345     2353
336772 2013 9     30  2240     2245            -5       2334     2351
336773 2013 9     30  2240     2250           -10       2347        7
336774 2013 9     30  2241     2246            -5       2345        1
336775 2013 9     30  2307     2255            12       2359     2358
336776 2013 9     30  2349     2359           -10        325      350
       arr_delay carrier flight tailnum origin dest air_time distance hour
1      NA        EV      4308   N18120  EWR    RDU  NA        416     16
2      NA        AA       791   N3EHAA  LGA    DFW  NA       1389     19
3      NA        AA      1925   N3EVAA  LGA    MIA  NA       1096     15
4      NA        B6       125   N618JB  JFK    FLL  NA       1069      6
5      NA        EV      4352   N10575  EWR    CVG  NA        569     15
6      NA        EV      4406   N13949  EWR    PIT  NA        319     16
7      NA        EV      4434   N10575  EWR    MHT  NA        209     13
8      NA        EV      4935   N759EV  EWR    ATL  NA        746     14
9      NA        EV      3849   N13550  EWR    IND  NA        645     13
10     NA        AA       133   NA      JFK    LAX  NA       2475     15
11     NA        AA       753   N3FBAA  LGA    DFW  NA       1389     13
12     NA        UA       623   NA      EWR    ORD  NA        719     16
13     NA        EV      4241   N14972  EWR    DCA  NA        199      6
14     NA        AA       321   N487AA  LGA    ORD  NA        733     10
15     NA        AA       327   N3AMAA  LGA    ORD  NA        733     11
16     NA        AA       717   N3GXAA  LGA    DFW  NA       1389      8
17     NA        AA       721   N201AA  LGA    DFW  NA       1389      9
18     NA        AA       731   N3FVAA  LGA    DFW  NA       1389     10
19     NA        AA      1757   N573AA  LGA    STL  NA        888     12
20     NA        MQ      4599   N500MQ  LGA    MSP  NA       1020      6
21     NA        UA       714   NA      EWR    MIA  NA       1085      8
22     NA        UA       719   NA      EWR    DFW  NA       1372      6
23     NA        9E      3405   NA      JFK    DCA  NA        213      8
24     NA        9E      3716   NA      EWR    DTW  NA        488     18
25     NA        AA       721   N541AA  LGA    DFW  NA       1389      9
26     NA        AA       745   N3BGAA  LGA    DFW  NA       1389     12
27     NA        AA       883   N200AA  EWR    DFW  NA       1372     14
28     NA        AA      2223   N569AA  LGA    STL  NA        888     15
29     NA        EV      5712   N827AS  JFK    IAD  NA        228     14
30     NA        9E      3422   NA      JFK    BOS  NA        187      8
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747  -9       MQ      3603   N519MQ  LGA    DTW   72       502     21
336748 -20       EV      4682   N14542  EWR    SDF   94       642     21
336749  58       EV      4321   N17984  EWR    MCI  147      1092     20
336750 -24       B6      1677   N358JB  JFK    JAX  113       828     21
336751 -25       DL      2363   N193DN  JFK    LAX  296      2475     21
336752 -11       EV      4372   N14902  EWR    DCA   35       199     21
336753 -24       EV      5489   N712EV  LGA    CHO   45       305     21
336754  -9       EV      3833   N16546  EWR    CLT   72       529     21
336755 -31       B6        97   N807JB  JFK    DEN  213      1626     21
336756  -2       EV      5048   N751EV  LGA    RIC   45       292     20
336757 -30       MQ      3621   N807MQ  JFK    DCA   36       213     21
336758 -30       AA       185   N335AA  JFK    LAX  298      2475     21
336759  11       EV      4509   N12957  EWR    PWM   47       284     21
336760 -25       B6      1103   N633JB  JFK    SJU  192      1598     21
336761   3       B6      1371   N627JB  LGA    FLL  139      1076     21
336762 -23       UA       523   N813UA  EWR    BOS   37       200     21
336763 -16       EV      3842   N10575  EWR    MHT   39       209     21
336764 194       9E      3320   N906XJ  JFK    BUF   50       301     18
336765   8       EV      5311   N722EV  LGA    BGR   61       378     22
336766   7       MQ      3660   N532MQ  LGA    BNA   97       764     21
336767  57       EV      4672   N12145  EWR    STL  120       872     20
336768 -21       B6       108   N193JB  JFK    PWM   48       273     22
336769  42       UA       471   N578UA  EWR    SFO  318      2565     21
336770 130       B6      1083   N804JB  JFK    MCO  123       944     20
336771  -8       B6       234   N318JB  JFK    BTV   43       266     22
336772 -17       B6      1816   N354JB  JFK    SYR   41       209     22
336773 -20       B6      2002   N281JB  JFK    BUF   52       301     22
336774 -16       B6       486   N346JB  JFK    ROC   47       264     22
336775   1       B6       718   N565JB  JFK    BOS   33       187     22
336776 -25       B6       745   N516JB  JFK    PSE  196      1617     23
       minute time_hour
1      30     2013-01-01 16:00:00
2      35     2013-01-01 19:00:00
3       0     2013-01-01 15:00:00
4       0     2013-01-01 06:00:00
5      40     2013-01-02 15:00:00
6      20     2013-01-02 16:00:00
7      55     2013-01-02 13:00:00
8      20     2013-01-02 14:00:00
9      21     2013-01-02 13:00:00
10     45     2013-01-02 15:00:00
11     30     2013-01-02 13:00:00
12      1     2013-01-02 16:00:00
13     45     2013-01-03 06:00:00
14     30     2013-01-03 10:00:00
15     25     2013-01-03 11:00:00
16     35     2013-01-03 08:00:00
17     20     2013-01-03 09:00:00
18     20     2013-01-03 10:00:00
19     20     2013-01-03 12:00:00
20     30     2013-01-03 06:00:00
21     57     2013-01-03 08:00:00
22     45     2013-01-03 06:00:00
23     45     2013-01-04 08:00:00
24     30     2013-01-04 18:00:00
25     20     2013-01-04 09:00:00
26     45     2013-01-04 12:00:00
27     30     2013-01-04 14:00:00
28     30     2013-01-04 15:00:00
29      0     2013-01-05 14:00:00
30     40     2013-01-05 08:00:00
⋮      ⋮      ⋮
336747 10     2013-09-30 21:00:00
336748 24     2013-09-30 21:00:00
336749  5     2013-09-30 20:00:00
336750 20     2013-09-30 21:00:00
336751  0     2013-09-30 21:00:00
336752 27     2013-09-30 21:00:00
336753 25     2013-09-30 21:00:00
336754 29     2013-09-30 21:00:00
336755 30     2013-09-30 21:00:00
336756 59     2013-09-30 20:00:00
336757 40     2013-09-30 21:00:00
336758 40     2013-09-30 21:00:00
336759 29     2013-09-30 21:00:00
336760 45     2013-09-30 21:00:00
336761 37     2013-09-30 21:00:00
336762 56     2013-09-30 21:00:00
336763 59     2013-09-30 21:00:00
336764 45     2013-09-30 18:00:00
336765  5     2013-09-30 22:00:00
336766 40     2013-09-30 21:00:00
336767 59     2013-09-30 20:00:00
336768 45     2013-09-30 22:00:00
336769 13     2013-09-30 21:00:00
336770  1     2013-09-30 20:00:00
336771 45     2013-09-30 22:00:00
336772 45     2013-09-30 22:00:00
336773 50     2013-09-30 22:00:00
336774 46     2013-09-30 22:00:00
336775 55     2013-09-30 22:00:00
336776 59     2013-09-30 23:00:00

2. Classifique os voos para encontrar os voos que chegaram mais atrasados. Encontre os voos que saíram mais cedo.

In [48]:
flights %>% arrange(desc(arr_delay)) %>% head(2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00

In [50]:
flights %>% arrange(dep_delay) %>% head(2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 12    7   2040     2123           -43         40     2352
2 2013  2    3   2022     2055           -33       2240     2338
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  48       B6        97   N592JB  JFK    DEN  265      1626     21   23
2 -58       DL      1715   N612DL  LGA    MSY  162      1183     20   55
  time_hour
1 2013-12-07 21:00:00
2 2013-02-03 20:00:00

3. Quais voos viajaram mais tempo? Qual viajou menos tempo?

In [52]:
flights %>% arrange(desc(air_time)) %>% head(2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 3     17  1337     1335            2        1937     1836
2 2013 2      6   853      900           -7        1542     1540
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 61        UA      15     N77066  EWR    HNL  695      4963     13   35
2  2        HA      51     N389HA  JFK    HNL  691      4983      9    0
  time_hour
1 2013-03-17 13:00:00
2 2013-02-06 09:00:00

In [54]:
flights %>% filter(dest == 'IAH') %>% arrange(desc(air_time)) %>% head(2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 3     31  1354     1401           -7        1806     1701
2 2013 2     11  1248     1251           -3        1655     1602
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 65        UA      800    N519UA  EWR    IAH  284      1400     14    1
2 53        UA      428    N466UA  LGA    IAH  279      1416     12   51
  time_hour
1 2013-03-31 14:00:00
2 2013-02-11 12:00:00

## Selecione colunas com `select()`

In [57]:
colnames(flights)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [56]:
select(flights, year, month, day, dep_time, arr_time) %>%  head(4)

  year month day dep_time arr_time
1 2013 1     1   517       830
2 2013 1     1   533       850
3 2013 1     1   542       923
4 2013 1     1   544      1004

In [60]:
select(flights, 1,2,3,4,8,10) %>% head(3)

  year month day dep_time sched_arr_time carrier
1 2013 1     1   517      819            UA
2 2013 1     1   533      830            UA
3 2013 1     1   542      850            AA

In [62]:
select(flights, ends_with('time')) %>% head(2)

  dep_time sched_dep_time arr_time sched_arr_time air_time
1 517      515            830      819            227
2 533      529            850      830            227

1. Encontre formas de selecionar `dep_time`, `dep_delay`, `arr_time` e `arr_delay`.

In [63]:
select(flights, dep_time, dep_delay, arr_time, arr_delay) %>%  head(2)

  dep_time dep_delay arr_time arr_delay
1 517      2         830      11
2 533      4         850      20

In [66]:
select(flights, year, month, day, starts_with('dep'), starts_with('arr')) %>%  head(2)

  year month day dep_time dep_delay arr_time arr_delay
1 2013 1     1   517      2         830      11
2 2013 1     1   533      4         850      20

2. O que acontece se incluir múltiplas vezes a mesma variável na chamada da função `select()`?

In [71]:
select(flights, year, year, day, day,arr_time,arr_time) %>%  head(2)
# nao funciona

  year day arr_time
1 2013 1   830
2 2013 1   850

3. O resultado da chamada abaixo vai contra sua intuição? O que fazer para se comportar como o esperado?

```{r}
select(flights, contains("TIME")) 
```

In [77]:
select(flights, contains("time",ignore.case = FALSE))  %>% head(2)

  dep_time sched_dep_time arr_time sched_arr_time air_time time_hour
1 517      515            830      819            227      2013-01-01 05:00:00
2 533      529            850      830            227      2013-01-01 05:00:00

## Adicione variáveis com `mutate()`

In [78]:
flights_sml = select(flights, 
  year:day, 
  ends_with("delay"), 
  distance, 
  air_time
)

In [79]:
head(flights_sml)

  year month day dep_delay arr_delay distance air_time
1 2013 1     1    2         11       1400     227
2 2013 1     1    4         20       1416     227
3 2013 1     1    2         33       1089     160
4 2013 1     1   -1        -18       1576     183
5 2013 1     1   -6        -25        762     116
6 2013 1     1   -4         12        719     150

1. Crie a coluna `speed` (lembre que air_time está em minutos)

In [81]:
flights_sml  %>% mutate(speed = distance/air_time * 60) %>% head()

  year month day dep_delay arr_delay distance air_time speed
1 2013 1     1    2         11       1400     227      370.0441
2 2013 1     1    4         20       1416     227      374.2731
3 2013 1     1    2         33       1089     160      408.3750
4 2013 1     1   -1        -18       1576     183      516.7213
5 2013 1     1   -6        -25        762     116      394.1379
6 2013 1     1   -4         12        719     150      287.6000

2. Crie a coluna `gain`, que resulta da diferença entre `dep_delay` e `arr_delay`

In [83]:
flights_sml  %>% mutate(speed = distance/air_time * 60,
                        gain = dep_delay - arr_delay,
                        gain_per_hour = gain / (air_time/60))  %>%  head()

  year month day dep_delay arr_delay distance air_time speed    gain
1 2013 1     1    2         11       1400     227      370.0441  -9
2 2013 1     1    4         20       1416     227      374.2731 -16
3 2013 1     1    2         33       1089     160      408.3750 -31
4 2013 1     1   -1        -18       1576     183      516.7213  17
5 2013 1     1   -6        -25        762     116      394.1379  19
6 2013 1     1   -4         12        719     150      287.6000 -16
  gain_per_hour
1  -2.378855
2  -4.229075
3 -11.625000
4   5.573770
5   9.827586
6  -6.400000

## Agregue informações com `summarise()` e `group_by()`

In [88]:
flights_sml %>% summarise(mean(distance), mean(air_time), mean(arr_delay))

  mean(distance) mean(air_time) mean(arr_delay)
1 1039.913       NA             NA

In [91]:
not_cancelled = flights %>%  filter(!is.na(dep_delay) , !is.na(arr_delay))
dim(not_cancelled)

[1] 327346     19

In [97]:
not_cancelled  %>% group_by(year, month, day) %>% summarise(mean(dep_delay))  %>% head(2)

  year month day mean(dep_delay)
1 2013 1     1   11.43562
2 2013 1     2   13.67780

In [103]:
not_cancelled  %>% group_by(year, month) %>% summarise(mead_atraso = mean(dep_delay),
                                                      meadia_atraso_mesmo = mean(dep_delay[dep_delay > 0]))

   year month mead_atraso meadia_atraso_mesmo
1  2013  1     9.985491   35.24179
2  2013  2    10.760239   35.17606
3  2013  3    13.164289   39.51540
4  2013  4    13.849187   44.05532
5  2013  5    12.891709   39.09352
6  2013  6    20.725614   49.63155
7  2013  7    21.522179   48.54883
8  2013  8    12.570524   37.22452
9  2013  9     6.630285   35.51741
10 2013 10     6.233175   31.55526
11 2013 11     5.420340   28.66707
12 2013 12    16.482161   37.06027

In [92]:
head(not_cancelled)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [125]:
not_cancelled %>% group_by(carrier) %>%
 summarise(delay = mean(dep_delay[dep_delay>0]), 
          delay_2 = mean(dep_delay)) %>%  arrange(desc(delay_2))

   carrier delay    delay_2
1  F9      45.18235 20.201175
2  EV      50.19481 19.838929
3  YV      52.87069 18.898897
4  FL      40.62477 18.605984
5  WN      34.77705 17.661657
6  9E      48.47393 16.439574
7  B6      39.70976 12.967548
8  VX      34.23150 12.756646
9  OO      58.00000 12.586207
10 UA      29.79019 12.016908
11 MQ      44.74328 10.445381
12 DL      37.33439  9.223950
13 AA      37.16259  8.569130
14 AS      31.47556  5.830748
15 HA      44.84058  4.900585
16 US      32.91852  3.744693

# Tidyr

Conceito de "tidy data":

1. Cada variável em uma coluna
2. Cada observação em uma linha
3. Um valor em cada célula

Funções apresentadas:

1. `spread()`
2. `gather()`

In [104]:
table1

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

## `gather()`

In [112]:
cases = table4a  %>% gather('1999','2000',key = 'year', value = 'cases')
population = table4b %>% gather(-country, key = 'year', value = 'population')

In [125]:
not_cancelled %>% group_by(carrier) %>%
 summarise(delay = mean(dep_delay[dep_delay>0]), 
          delay_2 = mean(dep_delay)) %>%  arrange(desc(delay_2))

   carrier delay    delay_2
1  F9      45.18235 20.201175
2  EV      50.19481 19.838929
3  YV      52.87069 18.898897
4  FL      40.62477 18.605984
5  WN      34.77705 17.661657
6  9E      48.47393 16.439574
7  B6      39.70976 12.967548
8  VX      34.23150 12.756646
9  OO      58.00000 12.586207
10 UA      29.79019 12.016908
11 MQ      44.74328 10.445381
12 DL      37.33439  9.223950
13 AA      37.16259  8.569130
14 AS      31.47556  5.830748
15 HA      44.84058  4.900585
16 US      32.91852  3.744693

In [119]:
inner_join(cases, population) %>% arrange(country)

Joining, by = c("country", "year")

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

## `spread()`

In [120]:
dim(table2)
head(table2)

[1] 12  4

  country     year type       count
1 Afghanistan 1999 cases            745
2 Afghanistan 1999 population  19987071
3 Afghanistan 2000 cases           2666
4 Afghanistan 2000 population  20595360
5 Brazil      1999 cases          37737
6 Brazil      1999 population 172006362

In [121]:
table2 %>% spread(key = type, value = count)

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583